*{
    margin: 0;
    padding: 0;
}
body{
  background-image: url(img/bg-desktop.svg);
  background-clip: border-box;
  background-size: 100%;
  background-color: #674bb1;
}
.container .logo img {
  margin-left: 50px;
  margin-top: 30px;
  width: 12%;
}
.container .content {
  background-color: transparent;
  width: 100%;
  display: flex;
}
.container .content .img1 img {
  height: 70%;
  margin-left: 50px;
  margin-top: 60px;
}
.container .content .text1 {
  margin-top: 90px;
  color: #fff;
}
.container .content .text1 h1 {
  font-size: 40px;
  line-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
.container .content .text1 p {
  font-size: 18px;
  margin-top: 20px;
  letter-spacing: 0.7px;
  word-spacing: 1.1px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #dfdfdf;
}
.container .content .text1 .button {
  margin-top: 35px;
}
.container .content .text1 .button button{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 30px;
    background-color: #fff;
    color: #674bb1;
}
.container .content .text1 .button button:hover{
    color: #fff;
    background-color: #9a4ec9;
}
.container .icon{
    margin-top: -60px;
    margin-left: 1200px;
}
.container .icon i{
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    padding: 12px;
    color: #fff;
}
@media(max-width:425px) {
    body{
        background-image: url(img/bg-mobile.svg);
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
    }
    .container .logo img{
        width: 30%;
    }
    .container .content{
        display: block;
    }
    .container .content .img1 img{
        width: 80%;
    }
    .container .content .text1 h1{
        font-size: 25px;
        text-align: center;
        line-height: 40px;
    }
    .container .content .text1 p{
        text-align: center;
    }
    .container .content .text1 .button button{
        margin-left: 35%;
    }
    .container .icon{
        margin-top: 17px;
        margin-left: 145px;
    }
}